<div class="section filter-section col-md-3">
    <div class="department col-12" id="departmentContainer">
        <div class="row">
        <h3 class="col"><b>Departments</b></h3>
        <p id="noEmployeeAdded" *ngIf="noFilter()">No filters are added yet.</p>
        <app-viewmore [filterData]="filterData">
            <app-filterbutton [filterData]="filterData.departments" (filterEmployees)="sendFilterValue($event)"></app-filterbutton>
        </app-viewmore>
    </div>
    <div class="office" id="officeContainer">
        <h3>Offices</h3>
        <p id="noEmployeeAdded" *ngIf="noFilter()">No filters are added yet.</p>
        <app-viewmore [filterData]="filterData">
            <app-filterbutton [filterData]="filterData.offices" (filterEmployees)="sendFilterValue($event)"></app-filterbutton>
        </app-viewmore>
    </div>
    <div class="job-title" id="jobTitleContainer">
        <h3>Job Titles</h3>
        <p id="noEmployeeAdded" *ngIf="noFilter()">No filters are added yet.</p>
        <app-viewmore [filterData]="filterData">
            <app-filterbutton [filterData]="filterData.jobTitles" (filterEmployees)="sendFilterValue($event)"></app-filterbutton>
        </app-viewmore>
    </div>
</div>